<div metavisionTableHeader>
  <mat-form-field metavisionFormField>
    <mat-label>جستوجو</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="کلمه مورد نظر خود را بنویسید"
      #input
    />
  </mat-form-field>

  <mat-form-field metavisionFormField>
    <mat-label metavisionFontHelper>دسته محصول اصلی</mat-label>
    <mat-select (valueChange)="filterCategory($event)" [value]="0">
      <mat-option metavisionFontHelper [value]="0">همه</mat-option>
      @for (selectOption of selectOptions(); track $index) {
        <mat-option
          metavisionFontHelper
          [value]="selectOption.productCategoryId"
          >{{ selectOption.name }}</mat-option
        >
      }
    </mat-select>
  </mat-form-field>

  <button
    metavisionTableHeaderButton
    metavisionButtonHelper
    mat-raised-button
    color="primary"
    type="button"
    (click)="onAddNew()"
  >
    اضافه کردن
  </button>
</div>

<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    @for (column of columns; track column) {
      <ng-container [matColumnDef]="column.columnDef">
        @if (column.columnDef === "operations") {
          <th
            mat-header-cell
            *matHeaderCellDef
            metavisionFontHelper
            metavisionTableColumnHeader
          >
            {{ column.header }}
          </th>
        }
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          metavisionFontHelper
          metavisionTableColumnHeader
        >
          {{ column.header }}
        </th>

        @if (column.columnDef === "isDeleted") {
          <td mat-cell metavisionFontHelper *matCellDef="let row">
            @if (!getStatus(+column.cell(row))) {
              <mat-icon class="text-success" metavisionTableColumnValue
                >done</mat-icon
              >
            } @else {
              <mat-icon class="text-danger" metavisionTableColumnValue
                >clear</mat-icon
              >
            }
          </td>
        }
        @if (column.columnDef === "operations") {
          <td mat-cell metavisionFontHelper *matCellDef="let row">
            @if (!getStatus(+column.cell(row))) {
              <button
                type="button"
                class="btn btn-outline-warning icon-hover"
                title="مشاهده/ویرایش"
                metavisionOperationButton
                (click)="getProductCategory(+column.cell(row))"
              >
                <mat-icon metavisionOperationButtonIcon
                  >remove_red_eye</mat-icon
                >
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary"
                title="مدیریت عکس ها"
                metavisionOperationButton
                (click)="getProductCategoryPictures(+column.cell(row))"
              >
                <mat-icon metavisionOperationButtonIcon>insert_photo</mat-icon>
              </button>
              <button
                type="button"
                class="btn btn-outline-danger"
                title="حذف"
                metavisionOperationButton
                (click)="onDelete(+column.cell(row))"
              >
                <mat-icon metavisionOperationButtonIcon>delete</mat-icon>
              </button>
            } @else {
              <button
                type="button"
                class="btn btn-outline-success icon-hover"
                title="بازگردانی"
                metavisionOperationButton
                (click)="onDelete(+column.cell(row))"
              >
                <mat-icon metavisionOperationButtonIcon>replay</mat-icon>
              </button>
            }
          </td>
        } @else {
          <td mat-cell metavisionFontHelper *matCellDef="let row">
            {{ column.cell(row) }}
          </td>
        }
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    metavisionFontHelper
    showFirstLastButtons
    [pageSizeOptions]="[25, 10, 5, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
